<%- include("partials/header") -%>

<div class="container fullpage">
  <h1 class="fullpage-heading"><%= card.title %></h1>
  <p><%= card.content %></p>
  <span>I got this Information from </span><a href="http://www.<%= card.source %>"><%= card.source %></a>
</div>

<%- include("partials/footer") -%>
